<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="shortcut icon" href="{% static 'favicon_io/favicon.ico' %}">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style type="text/css">
		.imgstyle{
			height: 430px;
			width: 650px;
		}

	</style>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<form   enctype="multipart/form-data">
					<div class="row">
						<div class="col-2">
							<input type="file" name="" class="form-control" id="file" style="display: none;">
							<button type="button" class='btn btn-outline-secondary' onclick="clickFile()">上传文件</button>
						</div>
						<div class="col-3">
							<input type="text" placeholder="输入最小支持度" class="form-control" id = 'sup'>
						</div>
						<div class="col-3">
							<input type="text" placeholder="输入最小置信度" class="form-control" id="con">
						</div>
						<div class="col-1 text-center">
							<button type="button" class="btn btn-success" id="btn">提交</button>
						</div>
					</div>
				</form>			
			</div>
		</div>
	</div>
	<div class="container" style="padding-top:50px;">
		<div class="row">
			<div class="col-12">
				<h1>频繁项集</h1>
				<table class="table table-hover table-striped table-bordered">
					<thead>
						<tr><th>频繁项集</th><th>频数</th></tr>
					</thead>
					<tbody id='show'>
					</tbody>
				</table>
				<h1>关联规则</h1>
				<table class="table table-hover table-striped table-bordered">
					<thead>
						<tr><th>项集1</th><th>项集2</th><th>置信度</th><th>支持度</th><th>提升系数</th></tr>
					</thead>
					<tbody id='show2'>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script>
		$(function(){
			$("#btn").click(function(){
				var formdata = new FormData();
				formdata.append('file',$("#file").prop('files')[0]);
				formdata.append('sup',$('#sup').val());
				formdata.append('con',$('#con').val());
				$.ajax({
					url: '{% url "datacode:upload1" %}',
					type: 'POST',
					data: formdata,
					cache: false,
					processData: false,
					contentType: false,
					success :function(ret){
						a = ret[0]
						b = ret[1]
						$("#show").empty();
						console.info(ret);
					//频繁项集的结果刷新
					for(var i = 0;i<a.length;i++){
						for(var j =0;j<a[i].length;j++){
							var row = $("<tr></tr>");
							row.append("<td>{"+a[i][j][0]+"}</td>")
							row.append("<td>"+a[i][j][1]+"</td>")
							$("#show").append(row);
						}
						if(a[i].length==0){break;}	
					}
					//关联规则的结果刷新
					for(var i in b){
						var row = $("<tr></tr>")
						for(var j = 0;j<b[i].length;j++){
							if(j<=1){
								row.append("<td>{"+b[i][j]+"}</td>")
							}else{
								row.append("<td>"+b[i][j]+"</td>")
							}
						}
						row.appendTo($("#show2"))
					}
				}
			});
			});
		});
		function clickFile(){
			$("input[type='file']").click();
		}
	</script>
</body>
</html>