<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
			<div class="col-md-4 col-sm-8" style="margin: 0;padding: 0;">
				<input type="file" name="" class="col-md-6 col-sm-8 form-control" id="file">
			</div>
			<div class="input-group col-md-2 col-sm-3">
				<span class="input-group-addon">K值</span>
				<input type="text" name="" class="form-control" id="Kvalue">
			</div>
			<div class="col-md-3 col-sm-3"  style="display: inline-block;">
				<select class="form-control" id="selectfunction">
					<option>K-means</option>
					<option>PAM</option>			
				</select>
			</div>
			<div class="col-2">
			<button class="btn btn-success" style="margin-left: 20px;" id="btn">提交</button>
			</div>
	<img src="" class="img-thumbnail imgstyle">


	<style type="text/css">
		.imgstyle{
			height: 430px;
			width: 650px;
		}
	</style>
	
	<script>
		$(function(){
			$("#btn").click(function(){
				var form_data = new FormData();
				form_data.append('function',$("#selectfunction").val());
				form_data.append('Kvalue',$("#Kvalue").val());
				form_data.append('file',$("#file").prop("files")[0]);
				$.ajax({
					type : 'POST',
					url : "{% url 'datacode:secpage' %}",
					data : form_data,
					processData : false,
					contentType : false,
					success : function(result){
						alert(result)
					}
				})
			});
		});
		

	</script>

</body>
</html>