<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style type="text/css">
	.imgstyle{
		height: 430px;
		width: 650px;
	}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-2">
				<input type="file" name="" class="form-control" id="file" style="display: none;">
				<button type="button" class='btn btn-outline-secondary' onclick="clickFile()">上传文件</button>
			</div>
			<div class="col-2 text-center">	<button type="button" class="btn btn-success" id="btn">提交</button>
			</div>
		</div>
	</div>
</body>
<script>
$(function(){
	$("#btn").click(function(){

		var form_data = new FormData();
		form_data.append("file" , $("#file").prop("files")[0]);
		$.ajax({
			type : "POST",
			url : "{% url 'datacode:thpage' %}",
			data : form_data,
			processData : false,
			contentType : false,
			success : function(ret){
				ret = JSON.parse(ret);
				console.info(ret);
			}
		});


	});
});
function clickFile(){
	$("input[type='file']").click();
}
</script>
</html>