{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style type="text/css">
	.imgstyle{
		width: 600px;
	}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-2">
				<input type="file" name="" class="form-control" id="file" style="display: none;">
				<button type="button" class='btn btn-outline-secondary' onclick="clickFile()">上传文件</button>
			</div>
			<div class="col-4">
				<div class="row">
					<div class="col-4"><h3><label for="method"  style="display:inline-block">核函数</label></h3></div>
					<div class="col-6">
						<select name="" id="method" class='form-control' style="display:inline-block">
							<option value="linear">Linear</option>
							<option value="poly">Poly</option>
							<option value="rbf">RBF</option>
							<option value="sigmod">Sigmod</option>
						</select>
					</div>
				</div>
			</div>


			<div class="col-2"><input type="text" id="punish" class="form-control" placeholder="输入惩罚系数"></div>


			<div class="col-2 text-center">	<button type="button" class="btn btn-success" id="btn">提交</button>
			</div>
		</div>
		<div class="row"><div class="col-12 text-center"><h3>原始类别图</h3></div></div>
		<div class="row">
			<div class="col-12 text-center"><img src="" alt="" id="img1" class="imgstyle"></div>
		</div>
		<div class="row"><div class="col-12 text-center"><h3>超平面图</h3></div></div>
		<div class="row">
			<div class="col-12 text-center"><img src="" alt="" id="img2" class="imgstyle"></div>
		</div>
		<div class="row"><div class="col-12 text-center"><h3>ROC曲线图</h3></div></div>
		<div class="row">
			<div class="col-12 text-center"><img src="" alt="" id="img3" class="imgstyle"></div>
		</div>	
	</div>
	
</body>
<script>
$(function(){
	$("#btn").click(function(){

		var form_data = new FormData();
		form_data.append("file" , $("#file").prop("files")[0]);
		form_data.append('method',$("#method option:selected").val());
		form_data.append('punish',$("#punish").val());
		$.ajax({
			type : "POST",
			url : "{% url 'datacode:upload3' %}",
			data : form_data,
			processData : false,
			contentType : false,
			success : function(ret){
				console.info((ret));
				$("#img1").attr('src',ret['1'])
				$("#img2").attr('src',ret['2'])
				$("#img3").attr('src',ret['3'])
			}
		});


	});
});
function clickFile(){
	$("input[type='file']").click();
}
</script>
</html>