<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style type="text/css">
	img{
		height: 100px;
		margin: 10px;
	}
	</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-2" style="display:none">
				<input type="file" name="" class="form-control" id="file" style="display: none;">
				<button type="button" class='btn btn-outline-secondary' onclick="clickFile()">上传文件</button>
			</div>
			<div class="col-4" style="display:none">
				<div class="row">
					<div class="col-4"><h3><label for="method"  style="display:inline-block">核函数</label></h3></div>
					<div class="col-6">
						<select name="" id="method" class='form-control' style="display:inline-block">
							<option value="linear">Linear</option>
							<option value="poly">Poly</option>
							<option value="rbf">RBF</option>
							<option value="sigmod">Sigmod</option>
						</select>
					</div>
				</div>
			</div>


			<div class="col-2" style="display:none"><input type="text" id="punish" class="form-control" placeholder="输入惩罚系数"></div>


			<div class="col-2 text-center">	<button type="button" class="btn btn-success" id="btn">查看训练结果</button>
			</div>
		</div>
	</div>
	<div class="container" id="show">
	</div>
</div>
</body>
<script>
$(function(){
	$("#btn").click(function(){

		var form_data = new FormData();
		form_data.append("file" , $("#file").prop("files")[0]);
		form_data.append('method',$("#method option:selected").val());
		form_data.append('punish',$("#punish").val());
		$.ajax({
			type : "POST",
			url : "{% url 'datacode:upload3' %}",
			data : form_data,
			processData : false,
			contentType : false,
			success : function(ret){
				console.info((ret));
				$("#show").append("<h4>测试结果如下：准确率为97.6%</h4>")
				$("#show").append('<div class="row" style="border:2px solid black"><div class="col-4"><h3>实际图像</h3></div><div class="col-4"><h3>'+'实际数字'+'</h3></div><div class="col-4"><h3>'+'预测数字'+'</h3></div></div>')
				{% load static %}
				var srcs = ret[0];
				for(var i = 0;i<srcs.length;i++ ){
					$("#show").append('<div class="row" style="border:2px solid black"><div class="col-4"><img src="'+"/static/datacode/third/"+srcs[i]+'" alt="" id="img1"></div><div class="col-4"><h3>'+ret[1][i]+'</h3></div><div class="col-4"><h3>'+ret[2][i]+'</h3></div></div>')
				}
				$("#img1").attr('src', "/static/datacode/third/"+5+".png")
			}
		});


	});
});
function clickFile(){
	$("input[type='file']").click();
}
</script>
</html>